.noPadding {
  padding-left: -10px;
}
.noMargins {
  margin: 0px;
}
.listing {
  width: 100% !important;
  border: none !important;
}

.listingRow {
  width: 100% !important;
}

.footer {
  height: 400px;
}

img.cart {
  width: 34px;
}

img.profile {
  width:30px;
  height: 30px;
  margin-top: 2px;
}

.cartContainerRow {
  min-height: 800px;
}
.white-icon {
  filter: brightness(0) invert(1) !important;
}

img.home {
  width:37px;
  height: 37px;
}

.custom-search {
  min-width: 200px;
}
.custom-navbar {
  padding: 10px !important;  /* Adjust the first value (20px) to set the desired thickness */
}

.ListingContainerHeader {
  height: 60px;
}

.featured-row {
  width: 100%;
  height: 400px;
  padding-bottom: 50px;
}

.card:hover {
  cursor: pointer;
}

.listingPageSwitcherContainer {
  height: 100px;
}

.listingPageSwitcher {
  width: 40%;
}
.category {
  border-radius: 0px !important;
  font-size: 1rem !important;
}

.listingContainersCol {
  margin:0px !important;
  padding-top: 0px !important;
  padding-inline: 40px !important;
}
.listingsContainer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-inline: 100px !important;
  margin-right: 0px !important;
}
.no-style-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}
.searchList {
  position: absolute;
  width: 80%;
  z-index: 1000;
  top: 40px;

}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartPageRow {
  min-height: 400px;
}
.cartSize {
  position: absolute;
  z-index: 1000 !important;
  top: 29px;
  right: 98px;
  font-size: 11pt;
}


.listingColumn {
  margin-top: 30px;
}

.link-button {
  background: none;
  border: none;
  color: blue; /* Set the color you want for links */
  text-decoration: underline; /* Add underlines to mimic links */
  cursor: pointer; /* Change cursor to a pointer to indicate interactivity */
  padding: 0; /* Remove any padding or margin */
  font: inherit; /* Inherit font styles from the parent */
}

.link-button:hover {
  text-decoration: none; /* Remove underline on hover if desired */
} 
.hide {
  display: none !important;
}
.categoriesContainer {
  height:40px;
  padding-bottom: 40px;
  background-color: skyblue !important;
}

.filterDropDown {
  float: right;
  margin-bottom: 5px;
  margin-right: 5px;
  font-size: 12pt;
}

.sortDropDown {
  float: right;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-size: 12pt;
}

.results {
  font-size: 12pt;
}

.ListingContainerHeaderCol {
  height:100%;
}
.noPaddingOrMargins {
  padding: 0px !important;
  margin: 0px !important;
}

.profileWidgetContainers {
  width: 50%;
}

.profilePageCol {
  padding: 0px !important;
  margin: 0px !important;
  min-width: 300px !important;
}

.profilePageImage {
  width: 100%;
  height: 300px;
}

.featured-card {
  width: 100%;
}

.featured-card .card-img {
  height: 400px;
}

.featured-card .card-body {
  padding: 50px; /* Adjust padding to your preference */
}

.listing-card-body {
  height: 200px;
}

.addToCart {
  padding-inline: 10px !important;
  width: 75% !important;
}

.addToCart:hover {
  background-color: rgb(222, 222, 222) !important;
}
 
.listing-card-title {
  font-size: 15pt;
}

.bold {
  font-weight:bold;
}

.description {
  font-size: 10pt;
}

.price {
  font-size: 13pt;
}

.account-information-container {
  background-color:rgb(255, 255, 255);
  width: 450px !important;
  padding: 5px 0 35px 0;
  margin-top: 50px;
  margin-bottom: 200px;
  border-radius: 20px;
}

.account-input-field-container {
  width: 300px !important;
}

.account-input-field {
  border-color: rgb(160, 160, 160) !important;
  border-width: 2px !important;
}

.featured-card-title {
  z-index: 100;
  left: 10%;
  top: 10%;
  color: rgb(177, 177, 177);
  font-weight: 450;
  font-size: 28px;
  position: absolute; 
}



