.noPadding {
  padding-left: -10px;
}
.noMargins {
  margin: 0px;
}
.listing {
  width: 100% !important;
  border: none !important;
}

.listingRow {
  width: 100% !important;
}

.footer {
  height: 200px;
}

.ListingContainerHeader {
  border-bottom: 1px solid #dee2e6;
  height: 60px;
}

.featured-row {
  height: 350px;
}

.card:hover {
  cursor: pointer;
}

.listingPageSwitcher {
  height: 100px;
}

.category {
  border-radius: 0px !important;
  font-size: 1rem !important;
}

.listingContainersCol {
  margin:0px !important;
  padding-top: 0px !important;
  padding-inline: 40px !important;
}
.listingsContainer {
  min-height: 2800px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-inline: 100px !important;
  margin-right: 0px !important;
}

.listingColumn {
  min-height: 2000px;
  margin-top: 30px;
}
.hide {
  display: none !important;
}
.categoriesContainer {
  height:40px;
  padding-bottom: 40px;
  background-color: skyblue !important;
}

.filterDropDown {
  float: right;
  margin-bottom: 5px;
  margin-right: 5px;
}

.sortDropDown {
  float: right;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.results {
  margin-top:8px;
  font-size: 12pt;
}

.noPaddingOrMargins {
  padding: 0px !important;
  margin: 0px !important;
}

.featured-card {
  width: 100%; /* Adjust width to your preference */
}

.featured-card .card-img {
  height: 300px;
}

.featured-card .card-body {
  padding: 10px; /* Adjust padding to your preference */
}

.listing-card-body {
  height:200px;
}
 
.listing-card-title {
  font-size: 15pt;
}

.bold {
  font-weight:bold;
}

.description {
  font-size: 10pt;
}

.price {
  font-size: 13pt;
}

