.noPadding {
  padding-left: -10px;
}
.noMargins {
  margin: 0px;
}
.listing {
  width: 100% !important;
}

.listingRow {
  width: 100% !important;
}

.footer {
  height: 200px;
}

.card:hover {
  cursor: pointer;
}

.listingPageSwitcher {
  height: 100px;
}

.category {
  border-radius: 0px !important;
}

.listingContainersCol {
  margin:0px !important;
  padding-top: 0px !important;
  padding-inline: 40px !important;
}
.listingsContainer {
  min-height: 2000px;
  width: 100%;
  padding-bottom: 50px;
  padding-inline: 0px !important;
  margin-right: 0px !important;
}

.categoriesContainer {
  height:40px;
  padding-bottom: 40px;
  padding-inline:60px;
  overflow: clip;
}

.filterContainer {
  margin-top: 100px;
  border-right: 1px solid #dee2e6;
}
.sortForm {
  margin-top:3px;
  float: right;
}

.results {
  margin-top:8px;
  font-size: 10pt;
}

.sortContainer {
  background-color: white;
  height: 35px;
  padding-inline: 20px;
  border-bottom: 1px solid #dee2e6;
}



.bg-lightblue {
  background-color: rgb(0, 75, 237);
}

.featuredcard {
  height: 100px !important;
}

.noPaddingOrMargins {
  padding: 0px !important;
  margin: 0px !important;
}

.featured-card {
  width: 100%; /* Adjust width to your preference */
}

.featured-card .card-img {
  height: 300px;
}

.featured-card .card-body {
  padding: 10px; /* Adjust padding to your preference */
}

.listing-card-body {
  height:200px;
}
 
.listing-card-title {
  font-size: 15pt;
}

.bold {
  font-weight:bold;
}

.description {
  font-size: 10pt;
}

.price {
  font-size: 13pt;
}

