.noPadding {
  padding: 0px;
}

.noMargins {
  margin: 0px;
}

.footer {
  height: 200px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.listingPageSwitcher {
  height: 100px;
}

.listingsContainer {
  min-height: 1000px;
  max-height: 5000px;
  padding-top: 50px;
  padding-bottom: 75px;
  padding-left: 100px;
  padding-right: 100px;
}

.categoriesContainer {
  height:40px;
  padding-top:5px;
  overflow: clip;
}

.img {
  height:10px;
  width:10px;
}

.card {
  height:50px;
  width:200px;
  font-size: 10pt;
  display: inline-block;
}

.account-information-container {
  background-color:rgb(234, 250, 250);
  width: 450px !important;
  padding: 5px 0 35px 0;
  margin-top: 40px;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(175, 175, 175);
  border-width: 2px;
  box-shadow: 2px 2px 4px 0px rgba(43, 43, 43, 0.5);
}

.account-input-field-container {
  width: 300px !important;
}

.account-input-field {
  border-color: rgb(160, 160, 160) !important;
  border-width: 2px !important;
}
