
.borderTop {
  border-top: solid 1px rgb(185, 185, 185);
}

.navBackground {
  background-color: rgb(0, 40, 89);
}

.whiteText {
  color:white;
}
.noPadding {
  padding: 0px;
}

.noMargins {
  margin: 0px;
}

.listingsContainerHeight {
  min-height: 2000px;
  max-height: 5000px;
}

.categoriesContainerHeight {
  height:40px;
  padding-top:5px;
}

.hideOverflow {
  overflow: clip;
}
