.bordergrey {
  border: solid 2px rgb(185, 185, 185);
}

.bordertop {
  border-top: solid 2px rgb(185, 185, 185);
}

.noPadding {
  padding: 0px;
}

.noMargins {
  margin: 0px;
}

.height {
  height: 2000px;
}
